<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="AutomationInsent.InsentAI.loginTest"/>
      <class name="AutomationInsent.InsentAI.FirstTest"/>
      <class name="AutomationInsent.InsentAI.FourTest"/>
      <class name="AutomationInsent.InsentAI.BotInsentTest"/>
      <class name="AutomationInsent.InsentAI.FiveTest"/>
      
      <class name="AutomationInsent.InsentAI.ThreeTest"/>
      
      <class name="AutomationInsent.InsentAI.SecondTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
